**Gridsearch SARIMA Models (Core)**

**Zillow Data**

You will continue working with Zillow's publicly available Zillow House Value Index (ZHVI) that you prepared for a previous core assignment. https://www.zillow.com/research/data/

You can start working in the same notebook you used for the Preparing Time Series from Wide-Form Data (Core) assignment
Specifically, you will be using the Home Value data set for:
Data Type = "ZHVI All Homes (SFR+Condo/Coop) - Time Series - Smoothed - Seasonally Adjusted"
Geography = "City"
We have already downloaded the file for you and uploaded it to Google Drive.
Share URL: https://drive.google.com/file/d/1O_g44QAfe3uVF-1heAC0BAeVDoWloVR-/view?usp=sharing
Direct URL (for Pandas): https://docs.google.com/spreadsheets/d/e/2PACX-1vQN3Ksa9szQuO4G1-msXWAp17KtVHQCBnuEieu_auu1wSiBf3-krHusIx5VBMkihxj-KZLBosDIGEyR/pub?output=csv

**Review: Previous Assignment**

In a core assignment from last week (Preparing Time Series from Wide-Form Data (Core)), you worked with this dataset.

You filtered the data to keep only the 4 largest cities based on their "SizeRank"
You melted the wide-form data for the 4 largest cities into long-form time series with a datetime index.
You resampled the data to monthly frequency, grouped by City.
You performed EDA and answered some questions comparing the cities, including selecting the city that had the highest home value at the end of 2008 and the one that had the lowest value at the end of 2008.

# **Task**

**Time Series Models for Home Values**

Your overall goal is to forecast the home values for the city with the highest home value in 2008(New York) 6months into the future (beyond the dataset).

* Filter the dataset only to include values starting in 2018
* Check for and address null values.
* Decompose the Time series to detect seasonality and decide if your model should or should not have a seasonal component
* Determine Time Series Model Orders
    * Check the time series for stationarity.
        * Determine the number of differencing needed to make the data stationary
    * Check the ACF/PACF Plots of the differenced data to determine the orders
* Split the time series into training and test data (Remember we want to predict 6 months, and our data has been resampled to monthly)
* Fit a manual ARIMA/SARIMA model based on the orders determined during your exploration.
    * Make forecasts with your model.
    * Plot the forecasts versus the test data
    * Obtain metrics for evaluation
* Tune with pmdarima's auto_arima
    * Fit a model on training data with the best parameters from auto_arima
    * Obtain metrics for evaluation
    * Make forecasts with the auto_arima model
    * Plot the forecasts versus the test data
* Select your final model
* Make true future forecasts using the entire dataset (for dates beyond the entire ts).
    * Calculate the predicted net change in home value for the forecasted period as both:
        * Raw values for change in the final month in the forecast vs. the first month.
        * Convert the raw delta into a percent change.

**Answer the following questions in a Markdown cell**

* What is the predicted home value in New York City 6 months into the future (beyond the dataset)?

* What is the percent change in home values in New York City by the end of the 6-month forecast (beyond the dataset)?

# **Solution**

In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import pmdarima as pm
from pmdarima.arima.utils import ndiffs, nsdiffs
from pmdarima.model_selection import train_test_split

from sklearn import set_config
from sklearn.linear_model import LinearRegression
from sklearn.metrics import (
    mean_absolute_error,
    mean_absolute_percentage_error,
    mean_squared_error,
    r2_score,
)

import statsmodels.tsa.api as tsa

#set_config(transform_output="pandas")
plt.rcParams["figure.figsize"] = (12, 4)
sns.set_context("talk", font_scale=0.9)

# set random seed
SEED = 321
np.random.seed(SEED)

In [2]:
# Custom Functions

In [3]:
def plot_forecast(ts_train, ts_test, forecast_df, n_train_lags=None, 
                  figsize=(10,4), title='Comparing Forecast vs. True Data'):
    
### PLot training data, and forecast (with upper/,lower ci)
    fig, ax = plt.subplots(figsize=figsize)

    # setting the number of train lags to plot if not specified
    if n_train_lags == None:
        n_train_lags = len(ts_train)

    # Plotting Training  and test data
    ts_train.iloc[-n_train_lags:].plot(ax=ax, label="train")
    ts_test.plot(label="test", ax=ax)

    # Plot forecast
    forecast_df["mean"].plot(ax=ax, color="green", label="forecast")

    # Add the shaded confidence interval
    ax.fill_between(
        forecast_df.index,
        forecast_df["mean_ci_lower"],
        forecast_df["mean_ci_upper"],
        color="green",
        alpha=0.3,
        lw=2,
    )

    # set the title and add legend
    ax.set_title(title)
    ax.legend()

    return fig, ax

In [4]:
# Custom function for Ad Fuller Test
def get_adfuller_results(ts, alpha=.05, label='adfuller', **kwargs): #kwargs for adfuller()
    # Saving each output
    (test_stat, pval, nlags, nobs, crit_vals_d, icbest) = tsa.adfuller(ts, **kwargs)
    
    # Converting output to a dictionary with the interpretation of p
    adfuller_results = {
        "Test Statistic": test_stat,
        "# of Lags Used": nlags,
        "# of Observations": nobs,
        "p-value": round(pval, 6),
        "alpha": alpha,
        "sig/stationary?": pval < alpha,
    }
    
    return pd.DataFrame(adfuller_results, index=[label])

In [5]:
def regression_metrics_ts(ts_true, ts_pred, label="", verbose=True, output_dict=False,):
    # Get metrics
    mae = mean_absolute_error(ts_true, ts_pred)
    mse = mean_squared_error(ts_true, ts_pred)
    rmse = mean_squared_error(ts_true, ts_pred, squared=False)
    r_squared = r2_score(ts_true, ts_pred)
    mae_perc = mean_absolute_percentage_error(ts_true, ts_pred) * 100

    if verbose == True:
        # Print Result with label
        header = "---" * 20
        print(header, f"Regression Metrics: {label}", header, sep="\n")
        print(f"- MAE = {mae:,.3f}")
        print(f"- MSE = {mse:,.3f}")
        print(f"- RMSE = {rmse:,.3f}")
        print(f"- R^2 = {r_squared:,.3f}")
        print(f"- MAPE = {mae_perc:,.2f}%")

    if output_dict == True:
        metrics = {
            "Label": label,
            "MAE": mae,
            "MSE": mse,
            "RMSE": rmse,
            "R^2": r_squared,
            "MAPE(%)": mae_perc,
        }
        return metrics

In [6]:
def plot_acf_pacf(ts, nlags=40, figsize=(10, 5), 
                  annotate_sig=False, alpha=.05,
                  acf_kws={}, pacf_kws={},  
                  annotate_seas=False, m = None,
                  seas_color='black'):

    fig, axes = plt.subplots(nrows=2, figsize=figsize)

    # Sig lags line style
    sig_vline_kwargs = dict(ls=":", lw=1, zorder=0, color="red")

    # ACF
    tsa.graphics.plot_acf(ts, ax=axes[0], lags=nlags, **acf_kws)

    ## Annotating sig acf lags
    if annotate_sig == True:
        sig_acf_lags = get_sig_lags(ts, nlags=nlags, alpha=alpha, type="ACF")
        for lag in sig_acf_lags:
            axes[0].axvline(lag, label="sig", **sig_vline_kwargs)

    # PACF
    tsa.graphics.plot_pacf(ts, ax=axes[1], lags=nlags, **pacf_kws)

    ## Annotating sig pacf lags
    if annotate_sig == True:
        ## ANNOTATING SIG LAGS
        sig_pacf_lags = get_sig_lags(ts, nlags=nlags, alpha=alpha, type="PACF")
        for lag in sig_pacf_lags:
            axes[1].axvline(lag, label="sig", **sig_vline_kwargs)

    ### ANNOTATE SEASONS
    if annotate_seas == True:
        # Ensure m was defined
        if m is None:
            raise Exception("Must define value of m if annotate_seas=True.")

        ## Calculate number of complete seasons to annotate
        n_seasons = nlags // m

        # Seasonal Lines style
        seas_vline_kwargs = dict(ls="--", lw=1, alpha=0.7, color=seas_color, zorder=-1)

        ## for each season, add a line
        for i in range(1, n_seasons + 1):
            axes[0].axvline(m * i, **seas_vline_kwargs, label="season")
            axes[1].axvline(m * i, **seas_vline_kwargs, label="season")

    fig.tight_layout()

    return fig

In [7]:
# Load and transform data
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQN3Ksa9szQuO4G1-msXWAp17KtVHQCBnuEieu_auu1wSiBf3-krHusIx5VBMkihxj-KZLBosDIGEyR/pub?output=csv')
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,114794.0,114975.0,...,269323.0,274032.0,278464.0,284127.0,289739.0,294776.0,297727.0,298796.0,299124.0,298951.0

In [8]:
    # * Filter the 4 largest cities into a new dataframe.
    #     * Tip: the "SizeRank" column has already ranked the cities by size. The larger the city, the smaller the rank value.
    #         * Therefore the 4 largest cities would have rank values of [0,1,2,3]
    # So that's New York, Los Angeles, Houston, Chicago

In [9]:
df = df.loc[ df['SizeRank'] < 4 ]
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0

In [10]:
df.isna().sum()

RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     0
             ..
2022-05-31    0
2022-06-30    0
2022-07-31    0
2022-08-31    0
2022-09-30    0
Length: 281, dtype: int64

In [11]:
df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '2000-01-31', '2000-02-29',
       ...
       '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
       '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30'],
      dtype='object', length=281)

In [12]:
# convert col names into lower()
df.columns = df.columns.str.lower()
df.columns

Index(['regionid', 'sizerank', 'regionname', 'regiontype', 'statename',
       'state', 'metro', 'countyname', '2000-01-31', '2000-02-29',
       ...
       '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
       '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30'],
      dtype='object', length=281)

In [13]:
melted = pd.melt(df, id_vars=['regionid', 'sizerank', 'regionname', 'regiontype', 'statename','state', 'metro', 'countyname'], var_name='date')
melted

,regionid,sizerank,regionname,regiontype,statename,state,metro,countyname,date,value
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,253690.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2000-01-31,234181.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,109068.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2000-01-31,166139.0
4,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-02-29,255517.0
...,...,...,...,...,...,...,...,...,...,...
1087,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-08-31,315587.0
1088,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2022-09-30,781622.0
1089,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2022-09-30,966595.0
1090,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2022-09-30,272639.0
1091,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-09-30,315429.0

In [14]:
melted.isna().sum()

regionid      0
sizerank      0
regionname    0
regiontype    0
statename     0
state         0
metro         0
countyname    0
date          0
value         5
dtype: int64

In [16]:
# Convert the Date column to Datetime data type.
melted['date'] = pd.to_datetime(melted['date'], format='%Y-%m-%d')
melted

,regionid,sizerank,regionname,regiontype,statename,state,metro,countyname,date,value
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,253690.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2000-01-31,234181.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,109068.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2000-01-31,166139.0
4,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-02-29,255517.0
...,...,...,...,...,...,...,...,...,...,...
1087,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-08-31,315587.0
1088,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2022-09-30,781622.0
1089,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2022-09-30,966595.0
1090,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2022-09-30,272639.0
1091,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-09-30,315429.0

In [17]:
# Set Date column as the index
melted = melted.set_index("date")
melted

,regionid,sizerank,regionname,regiontype,statename,state,metro,countyname,value
date,,,,,,,,,
2000-01-31,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0
2000-01-31,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0
2000-01-31,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0
2000-01-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0
2000-02-29,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,255517.0
...,...,...,...,...,...,...,...,...,...
2022-08-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315587.0
2022-09-30,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,781622.0
2022-09-30,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,966595.0
2022-09-30,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,272639.0
2022-09-30,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315429.0

In [18]:
# * Filter the dataset only to include values starting in 2018
long_df = melted.loc['2008':'2018', ['regionid', 'sizerank', 'regionname', 'regiontype', 'statename','state', 'metro', 'countyname','value']]
long_df

,regionid,sizerank,regionname,regiontype,statename,state,metro,countyname,value
date,,,,,,,,,
2008-01-31,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,546538.0
2008-01-31,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,603029.0
2008-01-31,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,138208.0
2008-01-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,300207.0
2008-02-29,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,546098.0
...,...,...,...,...,...,...,...,...,...
2018-11-30,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,259637.0
2018-12-31,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,691226.0
2018-12-31,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,713466.0
2018-12-31,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,188259.0
2018-12-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,260447.0

In [16]:
melted = pd.melt(df.drop(columns=['sizerank', 'regionid','statename','countyname', 'metro', 'regiontype', 'state']), id_vars=['regionname'], var_name="date")
melted

       regionname        date     value
0        New York  2000-01-31  253690.0
1     Los Angeles  2000-01-31  234181.0
2         Houston  2000-01-31  109068.0
3         Chicago  2000-01-31  166139.0
4        New York  2000-02-29  255517.0
...           ...         ...       ...
1087      Chicago  2022-08-31  315587.0
1088     New York  2022-09-30  781622.0
1089  Los Angeles  2022-09-30  966595.0
1090      Houston  2022-09-30  272639.0
1091      Chicago  2022-09-30  315429.0

[1092 rows x 3 columns]

In [14]:
# Now that we have our melted dataframe, we can slice out the top 4 largest cities of interest and begin preparing our datetime index.
# First, we will convert the 'Date' column values to datetime objects.
melted['date'] = pd.to_datetime(melted['date'])
melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   regionname  1092 non-null   object
 1   date        1092 non-null   datetime64[ns]
 2   value       1087 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 25.7+ KB

In [15]:
melted.isna().sum()

regionname    0
date          0
value         5
dtype: int64

In [16]:
# Set date as index
melted = melted.set_index("date")
melted

             regionname     value
date
2000-01-31     New York  253690.0
2000-01-31  Los Angeles  234181.0
2000-01-31      Houston  109068.0
2000-01-31      Chicago  166139.0
2000-02-29     New York  255517.0
...                 ...       ...
2022-08-31      Chicago  315587.0
2022-09-30     New York  781622.0
2022-09-30  Los Angeles  966595.0
2022-09-30      Houston  272639.0
2022-09-30      Chicago  315429.0

[1092 rows x 2 columns]

In [17]:
melted.isna().sum()

regionname    0
value         5
dtype: int64

In [18]:
melted['regionname'].nunique()

4

In [19]:
long_df = melted
long_df

             regionname     value
date
2000-01-31     New York  253690.0
2000-01-31  Los Angeles  234181.0
2000-01-31      Houston  109068.0
2000-01-31      Chicago  166139.0
2000-02-29     New York  255517.0
...                 ...       ...
2022-08-31      Chicago  315587.0
2022-09-30     New York  781622.0
2022-09-30  Los Angeles  966595.0
2022-09-30      Houston  272639.0
2022-09-30      Chicago  315429.0

[1092 rows x 2 columns]

In [20]:
# Check index
long_df.index

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-02-29', '2000-02-29', '2000-02-29', '2000-02-29',
               '2000-03-31', '2000-03-31',
               ...
               '2022-07-31', '2022-07-31', '2022-08-31', '2022-08-31',
               '2022-08-31', '2022-08-31', '2022-09-30', '2022-09-30',
               '2022-09-30', '2022-09-30'],
              dtype='datetime64[ns]', name='date', length=1092, freq=None)

In [21]:
# Testing/ Checking
long_df.loc['2022']

             regionname     value
date
2022-01-31     New York  745686.0
2022-01-31  Los Angeles  928991.0
2022-01-31      Houston  248718.0
2022-01-31      Chicago  305104.0
2022-02-28     New York  750578.0
2022-02-28  Los Angeles  937936.0
2022-02-28      Houston  252080.0
2022-02-28      Chicago  306404.0
2022-03-31     New York  756734.0
2022-03-31  Los Angeles  953874.0
2022-03-31      Houston  256435.0
2022-03-31      Chicago  308303.0
2022-04-30     New York  762321.0
2022-04-30  Los Angeles  973168.0
2022-04-30      Houston  261101.0
2022-04-30      Chicago  309649.0
2022-05-31     New York  768797.0
2022-05-31  Los Angeles  990391.0
2022-05-31      Houston  265558.0
2022-05-31      Chicago  312487.0
2022-06-30     New York  773944.0
2022-06-30  Los Angeles  992337.0
2022-06-30      Houston  268901.0
2022-06-30      Chicago  314663.0
2022-07-31     New York  777692.0
2022-07-31  Los Angeles  992630.0
2022-07-31      Houston  271059.0
2022-07-31      Chicago  315910.0
2022-08-31     New York  779960.0
2022-08-31  Los Angeles  978196.0
2022-08-31      Houston  272400.0
2022-08-31      Chicago  315587.0
2022-09-30     New York  781622.0
2022-09-30  Los Angeles  966595.0
2022-09-30      Houston  272639.0
2022-09-30      Chicago  315429.0

In [22]:
long_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1092 entries, 2000-01-31 to 2022-09-30
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   regionname  1092 non-null   object
 1   value       1087 non-null   float64
dtypes: float64(1), object(1)
memory usage: 25.6+ KB

In [ ]:
long_df_ts = long_df.groupby('regionname').resample('M').last()['value']
long_df_ts